@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    font-family: Raleway, sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    background: url(../assets/image_background.png);
    padding: 0 1vw;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    min-height: 100%;
}

h1 {
    font-size: 64px;
    margin: 0;
    padding: 0;
    text-align: center;
}

.icon {
    display: inline-block;
}

#book {
    animation: book 8s infinite;
}

@keyframes book {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

#book2 {
    animation: book2 8s infinite;
}

@keyframes book2 {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

#glass {
    animation: glass 8s infinite ease-in-out;
    transform: translateX(-100%);
    font-size: 48px;
    width: 0;
}

@keyframes glass {
    0% { transform: translateX(-72px); }
    50% { transform: translateX(-542px); }
    100% { transform: translateX(-72px); }
}

footer {
    font-size: 18px;
    margin-top: -32px;
    text-align: center;
}

form {
    box-shadow: hsl(200, 70%, 70%) 0px 5px 0px;
    display: flex;
    margin-top: 8px;
    max-width: 960px;
}

#subjects, #button, #question, #result {
    border: none;
    font-size: 20px;
    padding: 8px 16px;
}

#result {
    max-width: 600px;
}

#button {
    background-color: hsl(200, 70%, 70%);
    border-radius: 0 15px 0 0;
    color: white;
    font-weight: bold;
    text-shadow: hsl(200, 70%, 50%) 2px 1px 0;
}

button:hover, #button:hover {
    cursor: pointer;
}

button {
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    transition: 0.15s;
}

#qpl button, #msl button {
    background-color: hsl(200, 25%, 70%);
    text-shadow: hsl(200, 70%, 50%) 2px 1px 0;
}

#qpl button:hover, #msl button:hover {
    background-color: hsl(200, 70%, 70%);
}