<!DOCTYPE html>
<html>
    <head>
        <!--Nothing here, wee!-->
    </head>
    <body>
        <h1>Paper Finder v3</h1>
        <form action="/finder" method="GET">
            <select name="subject" id="subjects">
                {{range .subjects}}
                <option value="{{.}}">{{.}}</option>
                {{end}}
            </select>
            <input type="text" name="question" placeholder="Enter your question">
            <input type="submit">
            {{if .que}}
            <p>"{{.que}}" was found in {{.result}}</p>
            {{end}}
        </form>
    </body>
</html>